html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: #d4c7a3;
}

.container {
  min-height: 200vh;
  display: grid;
  grid-template-areas:
    "title"
    "karusel"
    "info"
    "links"
    "intro"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 3fr auto 5fr 1fr;
}
@media only screen and (min-width: 800px) {
  .container {
    grid-template-rows: 1fr 6fr auto 6fr 2fr;
  }
}

/*---menu*/
.title {
  grid-area: title;
  background-color: #383e1c;
  margin: 0;
  position: relative;
}

.full {
  /*viditelne menu*/
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
}
.full a {
  text-decoration: none;
  color: antiquewhite;
}

@media only screen and (max-width: 800px) {
  .full {
    display: none;
  }
}

.ham {
  /*hamburger a krizek*/
  width: 3vw;
  aspect-ratio: 1/1; /*vyrobím čtverec*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  margin: 2%;
  position: absolute;
  z-index: 9999;
}
.cara1,
.cara2,
.cara3 {
  width: 100%;
  flex-shrink: 0;
  height: 2px;
  background-color: #694f4d;
  /*background-color: #ccbd71;*/
}
.cara2 {
  background-color: #bfb085;
}
@media only screen and (min-width: 800px) {
  .ham,
  .cara1,
  .cara2,
  .cara3 {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .ham {
    width: 9%;
    align-self: stretch;
  }
}
.caraB {
  display: none;
}
.caraA {
  transform: rotate(45deg);
  position: relative;
  top: 20%;
}
.caraC {
  transform: rotate(-45deg);
  position: relative;
  bottom: 30%;
}

.nav {
  /*navigace na klik*/
  background-color: #bfb085e4;
  position: fixed;
  z-index: 9999;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 0;
  padding: 5%;
  display: grid;
  height: 100 vh;
  grid-template-rows: repeat(5, 1fr);
}
ul {
  list-style: none;
}
@media only screen and (min-width: 800px) {
  .nav {
    display: none;
  }
}
.nav-link {
  text-align: left;
  text-decoration: none;
  font-family: quicksand;
  font-size: 1.6rem;
  column-gap: 10rem;
  color: #07192f;
}
.hidden {
  display: none;
}

.logo {
  max-width: 15%;

  position: absolute;
  left: 83%;
  top: -11%;
}

.karusel {
  grid-area: karusel;

  background-size: cover;
  background-position: 50%;
  transition: background-image 1s ease-in-out;
  position: relative;
}

/* Kontejner pro tečky */
.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

/* Jednotlivé tečky */
.dot {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}

.dot.active {
  opacity: 1; /* Aktivní tečka je jasnější */
}

.info {
  grid-area: info;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
  align-items: center;
  width: 100%;
  border-bottom-right-radius: 20%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.hello {
  margin: 5%;
  max-width: 100%;
}
.portrait {
  margin: 5% 10% 5% 5%;
  border-radius: 30%;

  max-width: 100%; /* Obrázek nebude přesahovat rodič */
  height: auto; /* Zachová poměr stran */
  display: block; /* Odstraní spodní mezeru u obrázku */
}
.links {
  grid-area: links;
  background-color: #c1bc7a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*odazy na eshop*/
.links .image-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  margin: 7%;
}

/* Nový prvek pro rámeček */
.links .border {
  position: absolute;
  top: -5px; /* Posunout rámeček ven */
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 50%;
  border: 6px solid transparent;
  background: linear-gradient(#655244, #c1bc7a, #655244);
  z-index: 1; /* Pod obrázkem */
  transition: transform 0.5s linear;
}

/* Obrázek */
.links img {
  border-radius: 50%;
  max-width: 100%;
  display: block;
  position: relative;
  z-index: 2;
}

/* Otočení rámečku při kliknutí */
.links .image-wrapper:active .border {
  transform: rotate(360deg);
}

/* Nadpis */
.links h2 {
  position: absolute;
  border-radius: 7%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: #bfb085e4;
  color: #2d0408;
  text-align: center;
  padding: 15px 0;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 3;
}

/* Nadpis se zobrazí při hoveru */
.links .image-wrapper:hover h2 {
  opacity: 1;
}

.intro {
  grid-area: intro;
}
.footer {
  grid-area: footer;
  background-color: grey;
}
