html {
  box-sizing: border-box;
  overflow-x: hidden; /* Zakáže horizontální posuvník */
  width: 100vw; /* Zabrání roztažení */
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: #d4cdbc;
  overflow-x: hidden; /* Zakáže horizontální posuvník */
  width: 100vw; /* Zabrání roztažení */
  font-family: Pavanam;
  font-size: 16px;
}

/*---menu*/
.title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Rozšíří ho na celou šířku */
  height: 60px; /* Nastav pevnou výšku podle potřeby */
  background-color: #383e1c; /* Znovu nastav barvu pozadí */
  z-index: 1000;
  display: flex; /* Pokud obsah mizí, pomůže flexbox */
  align-items: center; /* Zarovná obsah vertikálně */
  justify-content: space-between;
  padding-top: 0.5%;
}
.container {
  /* min-height: 200vh;*/
  display: grid;
  grid-template-areas:
    "karusel"
    /*"info"*/
    "interval"
    "links"
    "interval2"
    "intro"
    "interval3"
    "contact";
  grid-template-columns: 1fr;
  grid-template-rows: 23rem /*2fr*/ 50px auto 60px auto 60px auto;

  padding-top: 60px;
}
@media only screen and (min-width: 800px) {
  .container {
    grid-template-rows: 80vh /*2fr*/ 10px auto 60px auto 60px auto;
  }
}

.interval,
.interval2,
.interval3 {
  display: block;
  grid-area: interval;
  min-height: 60px;
  background-color: #d4cdbc;
}
.interval {
  background-color: #383e1c;
  box-shadow: 0px 7px 20px #c1bc7a;
  max-height: 10px;
  margin-bottom: 5%;
}
.interval2 {
  grid-area: interval2;
}
.interval3 {
  grid-area: interval3;
}

.full {
  /*viditelne menu*/
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: #bfb085;
  margin-left: 3%;
}
.full a {
  text-decoration: none;
  color: antiquewhite;
}

@media only screen and (max-width: 800px) {
  .full {
    display: none;
  }
}

.ham {
  /*hamburger a krizek*/
  width: 3vw;
  aspect-ratio: 1/1; /*vyrobím čtverec*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  margin: 2% 0 0 7%;
  position: absolute;
  z-index: 9999;
}
.cara1,
.cara2,
.cara3 {
  width: 100%;
  flex-shrink: 0;
  height: 2px;
  background-color: #694f4d;
  /*background-color: #ccbd71;*/
}
.cara2 {
  background-color: #bfb085;
}
@media only screen and (min-width: 800px) {
  .ham,
  .cara1,
  .cara2,
  .cara3 {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .ham {
    width: 9%;
    align-self: stretch;
  }
}
.caraB {
  display: none;
}
.caraA {
  transform: rotate(45deg);
  position: relative;
  top: 20%;
}
.caraC {
  transform: rotate(-45deg);
  position: relative;
  bottom: 30%;
}

.nav {
  /*navigace na klik*/
  background-color: #bfb085e4;
  position: fixed;
  z-index: 9999;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 0;
  padding: 5%;
  padding-top: 20%;
  height: 100 vh;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
a.nav-link {
  color: #2d0408;
}
.free {
  height: 4rem;
}
.eng {
  width: 48px;
}
@media only screen and (min-width: 800px) {
  .nav {
    display: none;
  }
}
.nav-link {
  text-align: left;
  text-decoration: none;
  font-size: 1.6rem;
  column-gap: 10rem;
  color: #07192f;
}
.english img {
  width: 48px;
}
.english {
  background-color: transparent;
  width: 60px;
  aspect-ratio: 1/1;
  border-style: none;
  border-radius: 50%;
  margin-top: 0;
  margin-left: 20%;
}
.english2 {
  background-color: transparent;
  width: 48px;
  aspect-ratio: 1/1;
  border-style: none;
  border-radius: 50%;
}
.english2 img {
  width: 36px;
  aspect-ratio: 1/1;
}
@keyframes shakeLoop {
  0%,
  100% {
    transform: translateX(0);
  } /* Normální stav */
  10%,
  30%,
  50% {
    transform: translateX(-3px);
  } /* Pohyb doleva */
  20%,
  40% {
    transform: translateX(3px);
  } /* Pohyb doprava */
  80% {
    transform: translateX(0);
  }
} /* Zastavení */
.english.active {
  box-shadow: 10px 2px 10px #c1bc7a;
  animation: shakeLoop 3s ease-in-out infinite;
}
.english2.active {
  box-shadow: 10px 2px 10px #ece7a1;
  animation: shakeLoop 3s ease-in-out infinite;
}
.hidden {
  display: none;
}

.logo {
  max-width: 15%;
  position: absolute;
  left: 78%;
  top: -9%;
}
@media only screen and (max-width: 800px) {
  .logo {
    max-width: 15%;
    position: absolute;
    left: 78%;
    top: 5%;
  }
}

.karusel {
  grid-area: karusel;
  background-size: cover;
  background-position: 50%;
  transition: background-image 1s ease-in-out;
  position: relative;
  /*box-shadow: 0px 3px 4px rgba(180, 21, 21, 0.633);*/
}
@media only screen and (min-width: 800px) {
  .karusel {
    background-color: #383e1c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* Kontejner pro tečky */
.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

/* Jednotlivé tečky */
.dot {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}

.dot.active {
  opacity: 1; /* Aktivní tečka je jasnější */
}

.info {
  background-color: rgba(240, 248, 255, 0.476);
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin: 0 auto 0 auto;
  max-width: 90%; /* Omezí šířku, aby margin fungoval */
  line-height: 1.5; /* Zvýší čitelnost textu */
}

@media only screen and (min-width: 800px) {
  .info {
    max-width: 1200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
}

h1 {
  text-align: center;
  font-family: Grechen Fuemen;
  font-size: 70px;
  color: black;
  margin: 2% auto 2% auto;
  padding: 1%;
}
@media only screen and (min-width: 800px) {
  h1 {
    font-size: 100px;
  }
}
.info p {
  padding: 0 5% 0 5%;
}

/*odkazy na eshop*/
.links {
  grid-area: links;
  margin-top: 5%;
  background-color: #c1bc7a3b;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media only screen and (min-width: 800px) {
  .links {
    flex-direction: row;
  }
}

.links .image-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  margin: 7%;
  margin-bottom: 60px;
}

/* Nový prvek pro rámeček */
.links .border {
  position: absolute;
  top: -5px; /* Posunout rámeček ven */
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 50%;
  border: 6px solid transparent;
  background: linear-gradient(#655244, #c1bc7a, #655244);
  z-index: 1; /* Pod obrázkem */
  transition: transform 0.5s linear;
}

/* Obrázek */
.links img {
  border-radius: 50%;
  max-width: 100%;
  display: block;
  position: relative;
  z-index: 2;
}

/* Otočení rámečku při kliknutí */
.links .image-wrapper:active .border {
  transform: rotate(360deg);
}

/* Nadpis */
.links h2 {
  font-family: Grechen Fuemen;
  font-size: 50px;
  /*text-transform:uppercase;*/
  position: absolute;
  border-radius: 7% 7% 50% 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: #bfb085e4;
  color: #2d0408;
  text-align: center;
  padding: 15px 0;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 3;
}

/* Nadpis se zobrazí při hoveru */
.links .image-wrapper:hover h2 {
  opacity: 1;
}
/*varianta hoveru pro mobily*/
@media (max-width: 768px) {
  .image-wrapper h2 {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .image-wrapper h2.show {
    opacity: 1; /* Nadpis se zobrazí po kliknutí */
  }
}

.intro {
  grid-area: intro;
  background-color: rgba(240, 248, 255, 0.476);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%; /* Nebude zabírat celou šířku */
  height: fit-content;
  margin: 0 auto 0 auto; /* Automatický margin vycentruje */
  max-width: 100%; /* Zabrání přetečení */
  align-items: center;
  border-bottom-right-radius: 20%;
  box-shadow: 0px 7px 7px #c1bc7a;
}

.hello {
  padding: 5%;
  max-width: 100%;
  line-height: 1.6;
}

.case {
  background: linear-gradient(#2d0408, #433409);
  border-bottom-right-radius: 20%;
}

.portrait {
  max-width: 100%; /* Obrázek nebude přesahovat rodič */
  height: auto; /* Zachová poměr stran */
  display: block; /* Odstraní spodní mezeru u obrázku */
  object-position: bottom;
}

@media (min-width: 768px) {
  .intro {
    grid-area: intro;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    width: 90%; /* Omezíme šířku, aby nepřetékal */
    max-width: 1200px; /* Omezí maximální šířku */
    margin: 0 auto 0 auto; /* Automaticky vycentruje */

    border-bottom-right-radius: 20%;
    box-shadow: 0px 10px 15px #c1bc7a;
    grid-template-areas: "hello case";
    grid-template-columns: 2fr 3fr;
  }

  .hello {
    max-width: 100%;
    grid-area: hello;
    line-height: 2.5;
  }

  .case {
    grid-area: case;
    background: linear-gradient(#2d0408, #433409);
    border-bottom-right-radius: 20%;
    display: flex; /* Pomůže zarovnat obrázek */
    justify-content: center; /* Vycentrování obrázku */
    height: 100%;
    display: flex;
    align-items: flex-end; /* Zarovná obsah (obrázek) dolů */
  }
  .portrait {
    max-width: 100%; /* Obrázek nebude přesahovat */
    height: 100%;
    display: block;
    position: static;
    object-fit: contain;
    object-position: bottom;
  }
}

/*kontakt*/
.contact {
  grid-area: contact;
  background-color: #383e1c;
}
h4 {
  text-align: center;
  margin: 5%;

  color: #d4cdbc;
  font-style: normal;
}
.facebook,
.instagram {
  width: 20%;
  margin: 4% 15% 13% 13%;
}
/*kontaktni formular*/
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d4cdbc;
  font-style: bold;
}
@media only screen and (min-width: 800px) {
  .contact {
    display: grid;
    grid-template-areas: "all form";
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
  }
  .all {
    grid-area: all;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .forms {
    grid-area: form;
    margin: 5%;
  }
}

.forms input,
textarea {
  width: 90%;
  margin: 1%;
  background-color: #e1e2dc;
}
.forms button {
  background-color: #bfb085;
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 1%;
  margin-bottom: 5%;
}
.info {
  display: none;
}
footer {
  text-align: center;
  background-color: #c1bc7a3b;
}

@media (prefers-color-scheme: dark) and (max-width: 768px) {
  body {
    background-color: #362f2e;
    color: #dedac5;
  }
  .title {
    background-color: #383e1c;
  }

  .links {
    background-color: #c1bc7a7b;
  }

  .forms input,
  textarea {
    background-color: #d4cdbc;
  }
  .intro {
    background-color: #383e1c;
  }
  .interval,
  .interval2,
  .interval3 {
    background-color: #362f2e;
  }
  footer {
    background-color: #362f2e;
  }
  footer a:visited{
    color:#d4cdbc
  }
}
